.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header > a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}